@font-face {
    font-family: 'Kodex';
    src: url('/fonts/Kodex-Regular.woff2') format('woff2');;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Menda';
    src: url('/fonts/MendaBold.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Akira';
    src: url('/fonts/AkiraExpanded.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica';
    src: url('/fonts/Helvetica.woff2') format('woff2');
    font-display: swap;
  }