.brand-name-section {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.brand-svg {
  width: 90%;
  height: auto;
}

.brand-text {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 1px;
}
