@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  /* overflow: hidden; */
  overflow-x: hidden;
}

.slick-slide {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.slick-center {
  transform: scale(1);
  z-index: 1;
}


@font-face {
    font-family: 'Kodex';
    src: url('assets/fonts/Kodex-Regular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Menda';
    src: url('assets/fonts/MendaBold.otf') format('opentype');
  }

  @font-face {
    font-family: 'Akira';
    src: url('assets/fonts/AkiraExpanded.otf') format('opentype');
  }

  @font-face {
    font-family: 'Helvetica';
    src: url('assets/fonts/Helvetica.ttf') format('opentype');
  }

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}
