
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  overflow-x: hidden;
}

.swiper-slide {
  opacity: 0.35;
  transform: scale(0.82);
  transition: all 0.45s ease-in-out;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 100% !important;
    opacity: 1 !important;
    transition: all 0.45s ease-in-out;
  }

  .swiper-slide img {
    width: 100% !important;
    height: auto !important;
    border-radius: 10px;
  }
}


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}
